/*Universal Styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

.content {
  opacity: .9;
  width: 1200px;
  margin: auto;
  padding-top: 69px;
}

div {
  display: block;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 10px;
}

/*Header*/
a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding-right:20px 10px;
  margin: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
}

header img {
  height: 50px;
  padding-left: 10px;
}

/*Our Mission Styles*/
#mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission .Our-mission {
  margin: auto;
  background-color: black;
  width: 100%
}

/*Tea of the Month Style*/
#tea-choice {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.tea-container-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div .kind {
  display: block;
  padding: 5px;
}

.kind img {
  height: 200px;
  margin: 10px;
  display: block;
}

.kind span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/*Locations Styles*/
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
  width: 1200px;
}

#locations .locations-container {
  margin: auto;
  width: 1100px;
}

.locations-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.places {
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  opacity: 1;
  width: 300px;
}

/*Contact Section Styles*/
#contact {
  height: 200px;
}

/*Footer*/
footer {
  text-align: left;
  padding-left: 20px;
}
